
<<<<<<< HEAD
/*SECTION HERO*/
/* Style pour le badge en haut */
.custom-badge {
    background: linear-gradient(to right, #4a00e0, #ff0080);
    color: #fff;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
}

/* Style pour le texte principal avec dégradé */
.gradient-text {
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(to right, #4a00e0, #ff0080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Style pour le texte secondaire */
.text-secondary-custom {
    color: #6c757d;
    margin-bottom: 10px;
}

/* Bouton personnalisé */
.btn-custom {
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 8px;
}

/* Espace autour des boutons */
.btn-container {
    margin-top: 20px;
}
.custom-card {
    position: relative;
    background: linear-gradient(to bottom right, #4a00e0, #ff0080);
    border-radius: 20px;
    width: 350px;
    padding: 20px;
    overflow: hidden;
    text-align: center;
    color: white;
    margin: 50px auto;
}

.custom-card img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}

.custom-card h3 {
    margin: 10px 0;
    font-weight: bold;
}
=======

>>>>>>> 1cdd74e2fd1b026d3c649f838d943127b599912d

/* SECTION ABOUT */
#about p{
    max-width: 75%;
    margin: 0 20%;
}






/* FOOTER */
.no-underline{
    text-decoration: none;
}